
/** Jumbotrom*/
.bg-white{
    background-image: url("../imagenes/hatice-yardim-lOdjS_r3deI-unsplash.jpg");
    background-size: cover;
    background-position: 40%;
    height: 85vh;

  }

  #sidebar h1{
    color: aliceblue;
    padding-top: 100px;
    font-size: 90px;
    
  }
  #sidebar p {
      color: white;
  }
/** Footer*/

#foot a{

    color: black;
}

#foot img{
    height: 100px;
    width: 150px;
    padding-left: 50px;
    margin-top: 20px;
}

#social-media li{
    list-style: none;
}
.card-book{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}
#category img{
    margin-left: 17px;
}

.image{
    height: 90px;
    width: 240px;
    padding: 14px;
}
#historia .card {
    height: 355px;
    width: 240px;
}
#historia .button {

    margin-top: 175px;
}

#novelas .card {
    height: 394px;
    width: 240px;
}
#novelas .button{
    margin-top: 212px;
}

#literatura .card{
    height: 394px;
    width: 240px;
}
#literatura .button{
    margin-top: 212px;
}

     
#breadcrumbs  {
 background-color: white;   
}
#breadcrumbs a {
    color: rgb(87, 90, 92);
}
#breadcrumbs li{
    padding-left: 90px;
    padding-right: 15px;
}
.scrollable {
    height: 450px;
    overflow: scroll;
}
#tablecontrast  img {
    height: 250px;
    width: 370px;
}